<html>
<body>

    <div th:fragment="promo-msg" style="text-align: center; margin: -10px 0 10px; background-color: mistyrose;"
         th:if="${isRenderPromo}"
         th:text="#{variant.promo}">
        Promo Message
    </div>

    <div th:fragment="user-select" style="text-align: right;"
         th:if="${users}">
        <span style="font-weight: 700; font-size: 18px;">Select user</span>
        <select
            onChange="fetch('/login/' + this.value, {method: 'POST'}); location.reload;">
            <option th:each="user : ${users}"
                    th:text="|${user.owner.firstName} ${user.owner.lastName} (${user.dogOrCatCount})|"
                    th:value="${user.owner.id}"
                    th:selected="${currentUser != null && user.owner.id == currentUser.id}">
        </select>
    </div>

</body>
</html>
